<div id="data-grid-demo" class="m-3">
  <dx-data-grid id="gridContainer" [repaintChangesOnly]="true" [highlightChanges]="true" [focusedRowEnabled]="true"
    [focusedRowIndex]="0" [focusedColumnIndex]="0" (onContextMenuPreparing)="onContextMenuPreparing($event)"
    [dataSource]="allEmployee" keyExpr="id" [showBorders]="true" [allowColumnResizing]="true" [columnMinWidth]="50"
    [columnAutoWidth]="true">
    <dxo-scrolling mode="standard"></dxo-scrolling>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true"></dxo-search-panel>

    <dxi-column dataField="firstName"></dxi-column>
    <dxi-column dataField="lastName"></dxi-column>
    <dxi-column dataField="title"> </dxi-column>
    <dxi-column dataField="position"> </dxi-column>
    <dxi-column dataField="birthDate" dataType="date"> </dxi-column>
    <dxi-column dataField="hireDate" dataType="date"></dxi-column>
    <dxi-column dataField="updateDate" dataType="date"> </dxi-column>
    <dxi-column dataField="createDate" dataType="date"></dxi-column>
    <dxi-column dataField="notes"> </dxi-column>
    <dxi-column dataField="address"> </dxi-column>
    <dxi-column dataField="countryCode"> </dxi-column>

  </dx-data-grid>
  <dx-popup  [(visible)]="popupVisible" [hideOnOutsideClick]="true" [title]="'Employee Popup'" [width]="700"
    [height]="360" class="m-3" >
    <dx-form [formData]="isUpdate? editEmp: newEmployee">
      <dxi-item itemType="group" [colCount]="2">
        <dxi-item dataField="firstName"></dxi-item>
        <dxi-item dataField="lastName"></dxi-item>
        <dxi-item dataField="title"></dxi-item>
        <dxi-item dataField="position"></dxi-item>
        <dxi-item dataField="birthDate" editorType="dxDateBox"></dxi-item>
        <dxi-item dataField="hireDate" editorType="dxDateBox"></dxi-item>
        <dxi-item dataField="notes"></dxi-item>
        <dxi-item dataField="address"></dxi-item>
        <dxi-item dataField="countryCode"></dxi-item>

      </dxi-item>
    </dx-form>

    <div class="mt-3">
      <dx-button text="Ekle" (onClick)="addEmployee()" [(visible)]="addEmployeePopupVisible" class="dx-btn">
      </dx-button>
      <dx-button text="Güncelle" (onClick)="updateEmployee()" [(visible)]="editEmployeePopupVisible" class="dx-btn">
      </dx-button>
      <dx-button text="Sil" (onClick)="showDeleteConfirmation(selectedEmployee)" [(visible)]="deleteEmployeePopupVisible" class="dx-btn">
      </dx-button>
    </div>

  </dx-popup>
</div>
